<div class="container">
  <div class="geometric-bg"></div>

  <div class="login-card">
    <div class="card-header">
      <i class="fas fa-school school-icon"></i>
      <h1>Colegio Hosanna</h1>
      <p>Gestión de Matrículas</p>
    </div>

    <!-- FORMULARIO ANGULAR -->
    <form (ngSubmit)="iniciarSesion()">

      <!-- USUARIO -->
      <div class="input-group">
        <label>Nombre de usuario</label>
        <div class="input-wrapper-user">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Ingrese su usuario" [(ngModel)]="usuario" name="usuario" required>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="input-group">
        <label>Contraseña</label>
        <div class="input-wrapper-pass">

          <input [type]="mostrarPassword ? 'text' : 'password'" placeholder="Ingrese su contraseña"
            [(ngModel)]="password" name="password" required>

          <button type="button" class="toggle-password" (click)="togglePassword()">
            <i [class]="mostrarPassword ? 'fas fa-lock-open' : 'fas fa-lock'"></i>
          </button>

        </div>
      </div>

      <!-- BOTÓN -->
      <button type="submit" class="login-button">
        Iniciar Sesión
      </button>

    </form>

    <div class="card-footer">
      <i class="fas fa-book"></i>
      <span>Aprendizaje y crecimiento</span>
    </div>
  </div>
</div>