.cont-es {
    display: flex;
    justify-content: space-between;
    /* separa título y botón */
    align-items: center;
    /* centra verticalmente */
    width: 100%;
    padding: 1rem;
}

.titulo {
    font-weight: 400;
    font-size: 1.2rem;
    margin: 0;
    /* evita saltos */
}

.btn-es {
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    background: var(--dark-green);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.btn-es:hover {
    background: #0f5833;
    transform: scale(1.05);
}

.btn-es:active {
    transform: scale(0.97);
    /* pequeño efecto al presionar */
}


.fa-book {
    margin-right: 0.4rem;
}

.buscar-es {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
    /* lo mueve debajo del botón */
    gap: 0.8rem;

}

.btn-buscar {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--dark-green);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
}

.btn-buscar:hover {
    background: #0f5833;
    transform: scale(1.05);
}

.btn-buscar:active {
    transform: scale(0.97);
    /* pequeño efecto al presionar */
}

input {
    width: 12rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
}

.acciones-tabla {
    display: flex;
    justify-content: space-between;
    /* izquierda / derecha */
    align-items: center;
    padding: 0 1rem;
}

select {
    appearance: none;
    /* quita estilo nativo */
    -webkit-appearance: none;
    -moz-appearance: none;

    margin: 0.5rem;
    padding: 0.45rem 2rem 0.45rem 0.8rem;
    /* espacio para flecha */
    border-radius: 0.6rem;

    border: 1px solid #d1d5db;
    /* gris suave */
    background-color: #fff;
    color: #374151;
    font-size: 0.95rem;
    cursor: pointer;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

/* Flecha personalizada */
select {
    background-image:
        linear-gradient(45deg, transparent 50%, #6b7280 50%),
        linear-gradient(135deg, #6b7280 50%, transparent 50%);
    background-position:
        calc(100% - 1rem) calc(50% - 0.15rem),
        calc(100% - 0.8rem) calc(50% - 0.15rem);
    background-size: 5px 5px;
    background-repeat: no-repeat;
}

/* Focus elegante */
select:focus {
    outline: none;
}

/* Hover sutil */
select:hover {
    border-color: #9ca3af;
}

.tabla-datos {
    margin-top: 2.5rem;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 0.5rem;
    overflow: hidden;
    /* recorta el thead */
}

.tabla-datos th,
.tabla-datos td {
    /*border: 1px solid #ddd;*/
    padding: 0.8rem;
    text-align: center;
}

.tabla-datos thead {
    background-color: #142b44;
    /* azul */
    color: #ffffff;
    height: 3.2rem;
}

.tabla-datos tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.btn-icon {
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  
}

/* EDITAR */
.btn-edit {
  background: #facc15; /* amarillo */
  color: #000;
  margin: 0.5rem;
}

.btn-edit:hover {
  background: #eab308;
  transform: scale(1.05);
}

/* ELIMINAR */
.btn-delete {
  background: #dc2626; /* rojo */
  color: #fff;
}

.btn-delete:hover {
  background: #b91c1c;
  transform: scale(1.05);
}
