<div class="cont-panel">

  <div class="cont">
    <div class="pars">
      <p class="p1"><b>Bienvenido Administrador! 😊🎉</b></p>
      <p class="p2">Sistema de Gestión de Matrículas y Stock</p>
    </div>

    <img src="assets/images/idea-9.svg" alt="Icono SVG">
  </div>

  <ul class="box-info">

    <!-- MATRÍCULAS -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-users"></i>

        <div class="text">
          <h3 id="totalMatriculas">58</h3>
          <p>Matrículas</p>
        </div>
      </div>

      <button class="btn btn-primary">
        Matrícula
      </button>
    </li>

    <!-- PAGOS -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-dollar-sign"></i>

        <div class="text">
          <h3 id="totalPagos">S/. 500.00</h3>
          <p>Pagos</p>
        </div>
      </div>

      <button class="btn btn-warning">
        Pagos
      </button>
    </li>

    <!-- REPORTES -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-chart-line"></i>
        <div class="text">
          <h3>2834</h3>
          <p>Reportes</p>
        </div>
      </div>

      <button class="btn btn-info">
        Reportes
      </button>
    </li>

  </ul>

  <footer class="footer">
    <p class="footer-text">© 2025 Sistema de Control de Asistencias</p>

    <div class="footer-social">
      <a href="https://facebook.com" target="_blank" class="social-icon facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a href="https://instagram.com" target="_blank" class="social-icon instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://wa.me/51987654321" target="_blank" class="social-icon whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </footer>

</div>