<div class="cont-panel">

  <div class="cont">
    <div class="pars">
      <p class="p1"><b>Bienvenido Administrador! 😊🎉</b></p>
      <p class="p2">Sistema de Gestión de Matrículas y Stock</p>
    </div>

    <img src="assets/images/idea-9.svg" alt="Icono SVG">
  </div>

  <ul class="box-info">
 
    <!-- MATRÍCULAS -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-book-open"></i>

        <div class="text">
          <h3 id="totalMatriculas">{{ totalMatriculas }}</h3>
          <p>Matrículas</p>
        </div>
      </div> 

      <button class="btn btn-primary" routerLink="/dashboard/matriculas">
        Matrículas
      </button>
    </li>

    <!-- ESTUDIANTES -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-user-graduate"></i>

        <div class="text">
          <h3 id="totalEstudiantes">{{totalEstudiantes}}</h3>
          <p>Estudiantes</p>
        </div>
      </div>

      <button class="btn btn-warning" routerLink="/dashboard/estudiantes">
        Estudiantes
      </button>
    </li>
    
    <!-- PAGOS -->
    <li class="item">
      <div class="item-content">
        <i class="fas fa-credit-card"></i>
        <div class="text">
          <h3 id="totalPagos">{{ totalPagos }}</h3>
          <p>Pagos</p>
        </div>
      </div>

      <button class="btn btn-info" routerLink="/dashboard/pagos">
        Pagos
      </button>
    </li>

  </ul>

  <footer class="footer">
    <p class="footer-text">© 2026 Sistema de Gestión de Matrículas</p>

    <div class="footer-social">
      <a href="https://facebook.com" target="_blank" class="social-icon facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </a>

      <a href="https://instagram.com" target="_blank" class="social-icon instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a href="https://wa.me/51987654321" target="_blank" class="social-icon whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
  </footer>

</div>