@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --school-blue: #012245;
    --white: #ffffff;
    --gray: #6b7280;
    --light: #F9F9F9;
    --grey: #e0e0e0;
    --light-blue: #cce5ff;
    --blue: #007bff;
    --yellow: #ffc107;
    --orange: #ff9800;
    --light-yellow: #fff3cd;
    --light-orange: #ffe5b4;
    --light-green: #66bb6a;
    --dark-green: #006400;
    --light-red: #ffcccc;
    /* Rojo claro */
    --dark-red: #990000;
    /* Rojo oscuro */
    --light-cyan: #b3e5fc;
    /* Celeste claro */
    --dark-cyan: #00838f;
    /* Celeste oscuro */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;

}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;

    .card-head {
        padding: 1rem 1.5rem;
        border-bottom: 1px solid #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }

    .card-body {
        padding: 1rem 1.5rem;
    }
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}
